{% extends 'base.html' %}

{% block title %}GM_Recycler{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Bienvenido al Sistema de Compras</h1>
    <p class="lead">Este sistema te permite gestionar los registros de compras realizadas a vendedores de partes de piezas de autos.</p>
    <hr class="my-4">
    <p>Utiliza la barra de navegación para acceder a las diferentes secciones del sistema.</p>
</div>

<div class="row mt-4">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Clientes</h5>
                <p class="card-text">Gestiona la información de tus clientes.</p>
                <a href="{% url 'cliente:cliente_list' %}" class="btn btn-primary">Ir a Clientes</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}